header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 75px;
  border-bottom: 1px solid hsla(210, 6.2%, 93.7%, 1);
  & h1 a {
    font-size: 50px;
    text-decoration: none;
    &:link {
      color: hsla(0, 100%, 50%, 1);
    }
    &:visited {
      color: hsla(0, 100%, 50%, 1);
    }
  }
  & nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    width: 100%;
    & ul {
      display: flex;
      gap: 15px;
      list-style: none;
      border-bottom: 2px solid transparent;
      & li a {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-decoration: none;
        &:link {
          color: hsla(0, 100%, 0%, 1);
        }
        &:visited {
          color: hsla(0, 100%, 0%, 1);
        }
        &:hover {
          color: hsla(0, 100%, 0%, 0.75);
          border-bottom: 2px solid hsla(0, 100%, 50%, 1);
        }
      }
    }
  }
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    & span {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 600;
    }
    &:hover {
      transition-duration: 0.5s;
      transform: scale(1.1);
    }
  }
}

.dark {
  background-color: #1b1b1b;
  color: white;
}

.dark div header nav ul li a {
  color: white;
  &:link {
    color: white;
    &:visited {
      color: white;
    }
  }
}

.dark .theme-button {
  background-color: #1b1b1b;
  border: 1.5px solid white;
  color: white;
}

.dark .studycase-button {
  color: hsla(0, 100%, 50%, 1);
  border: 1px solid hsla(0, 100%, 50%, 1);
  font-weight: 600;
  &:hover {
    background-color: hsla(0, 0%, 100%, 1);;
    color: hsla(0, 100%, 0%, 1);
    border: 1px solid hsla(0, 0%, 100%, 1);
  }
}