.projects-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.project-title-container {
  padding: 0 125px;
  text-align: center;
  & h3 {
    font-size: 3.5rem;
  }
  & p {
    margin-top: 15px;
    margin-bottom: 100px;
  }
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects {
  text-align: center;
  border: 1px solid hsla(0, 100%, 0%, 1);
  border-radius: 7px;
  padding: 20px;
  margin: 15px;
  & a {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-transform: uppercase;
    &:link {
      color: hsla(0, 100%, 0%, 1);
    }
    &:visited {
      color: hsla(0, 100%, 0%, 1);
    }
    &:hover {
      color: hsla(0, 100%, 0%, 0.75);
    }
  }
  & p {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    word-wrap: break-word;
    text-align: justify;
  }
}

#solane {
  border-bottom: 3px solid transparent;
  &:hover {
    transition: 1s;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}

#sedal {
  border-bottom: 3px solid transparent;
  &:hover {
    transition: 1s;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}

#platon {
  border-bottom: 3px solid transparent;
  &:hover {
    transition: 1s;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}

// DARK THEME
.dark .projects {
  border: 1px solid rgba(255, 254, 254, 1);
  border-radius: 5px;
  &:hover {
    background-color: white;
  }
}

.dark #solane {
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 3px solid transparent;
  &:hover {
    color: black;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}

.dark #sedal {
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 3px solid transparent;
  &:hover {
    color: black;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}

.dark #platon {
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 3px solid transparent;
  &:hover {
    color: black;
    border-bottom: 3px solid hsla(0, 100%, 50%, 1);
  }
}